<!DOCTYPE html>
<div class="welcomeContainer">
  <div class="welcomeLogo">
    <img src="../../assets/images/welcome.jpeg" height="100px" width="200px" alt="">
  </div>
  <div class="welcomeText">
    <h1>Welcome to the best tools store</h1>
  </div>
  <div class="welcomeMenu">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="products">Products</mat-button-toggle>
      <mat-button-toggle value="contact">Contact</mat-button-toggle>
      <mat-button-toggle value="sign-in">Sign-in</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>